page-scan-attendance {
    .title-md {
        left: -25px;
        position: relative;
    }
    .back-button.show-back-button {
        z-index: 1000;
    }
    .center {
        height: 90%;
    }
}
