<ion-header>
  <ion-navbar>
    <ion-title style="z-index: 100">{{screenTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate padding-right>
    <ion-item no-lines class="bigest-text">
      <ion-avatar bp-layout="row center">
        <img [src]="registerForm.controls.avatar.value">
      </ion-avatar>
      <ion-icon bp-layout="row center" (click)="selectAvatarSource()" name="camera"></ion-icon>
    </ion-item>
    <ion-item class="meeting">
      <ion-label>Title</ion-label>
      <ion-select (ionChange)="titleChange($event)" class="ion-select-long" [selectOptions]="{title: 'Select title'}" formControlName="titleId">
        <ion-option *ngFor="let title of titles" [value]="title.id">{{title.title}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="meeting">
      <ion-label>First Name</ion-label>
      <ion-input required formControlName="firstName" type="text"></ion-input>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="!registerForm.controls.firstName.valid  && (registerForm.controls.firstName.dirty || submitAttempt)">First Name is required.</div>
    <ion-item class="meeting">
      <ion-label>Last Name</ion-label>
      <ion-input required formControlName="lastName" type="text"></ion-input>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="!registerForm.controls.lastName.valid  && (registerForm.controls.lastName.dirty || submitAttempt)">Last Name is required.</div>
    <ion-item class="meeting">
      <ion-label>Mobile</ion-label>
      <ion-input formControlName="mobile" type="text"></ion-input>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="!registerForm.controls.mobile.valid  && (registerForm.controls.mobile.dirty || submitAttempt)">Mobile no is required.</div>
    <ion-item *ngIf="screenTitle.toLowerCase() === 'register'" class="meeting">
      <ion-label>Password</ion-label>
      <ion-input formControlName="password" required validateEqual="confirmPassword" reverse="true" type="password"></ion-input>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="screenTitle.toLowerCase() === 'register' && !registerForm.controls.password.valid  && (registerForm.controls.password.dirty || submitAttempt)">Password is required.</div>
    <ion-item *ngIf="screenTitle.toLowerCase() === 'register'" class="meeting">
      <ion-label>Confirm Password</ion-label>
      <ion-input formControlName="confirmPassword" required validateEqual="password" type="password"></ion-input>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="screenTitle.toLowerCase() === 'register' && !registerForm.controls.confirmPassword.valid  && (registerForm.controls.confirmPassword.dirty || submitAttempt)">Password mismatch.</div>
    <ion-item class="meeting">
      <ion-label>Company/Org.</ion-label>
      <ion-input type="text" formControlName="company"></ion-input>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="!registerForm.controls.company.valid  && (registerForm.controls.company.dirty || submitAttempt)">Company/Organization is required.</div>
    <ion-item class="meeting">
      <ion-label>Job Level</ion-label>
      <ion-select class="ion-select-long" (ionChange)="jobLevelChange($event)" [selectOptions]="{title: 'Select Job Level'}" formControlName="jobLevelId">
        <ion-option *ngFor="let jobLevel of jobLevels" [value]="jobLevel.id">{{jobLevel.title}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="meeting">
      <ion-label>Job Role</ion-label>
      <ion-select class="ion-select-long" (ionChange)="jobRoleChange($event)" [selectOptions]="{title: 'Select Job Role'}" formControlName="jobRoleId">
        <ion-option *ngFor="let jobRole of jobRoles" [value]="jobRole.id">{{jobRole.title}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="meeting">
      <ion-label>Country</ion-label>
      <ion-select class="ion-select-long" (ionChange)="contryChange($event)" [selectOptions]="{title: 'Select Country'}" formControlName="countryId">
        <ion-option *ngFor="let country of countries" [value]="country.id">{{country.title}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="meeting">
      <ion-label>Industry</ion-label>
      <ion-select class="ion-select-long" (ionChange)="industryChange($event)" [selectOptions]="{title: 'Select Industry'}" formControlName="industryId">
        <ion-option *ngFor="let industry of industries" [value]="industry.id">{{industry.title}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="meeting" *ngIf="userType === 'delegate'">
      <ion-label>Interested with</ion-label>
      <ion-select class="ion-select-long" multiple="true" (ionChange)="technologyChange($event)" [selectOptions]="{title: 'Select Technology'}" formControlName="techInterests">
        <ion-option *ngFor="let tech of technologies" [value]="tech.id">{{tech.title}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines class="meeting">
      <ion-label>Notify me by</ion-label>
    </ion-item>
    <ion-item class="meeting" *ngFor="let notif of notifications">
      <ion-label>{{notif.title}}</ion-label>
      <ion-checkbox formControlName="{{notif.id}}" [checked]="registerForm.controls[notif.id].value"></ion-checkbox>
    </ion-item>

    <ion-item class="meeting" no-lines margin-top margin-bottom *ngIf="screenTitle.toLowerCase() === 'register'">
      <ion-label class="wrap-text">By creating an account you automatically agree to our
        <a href="" (click)="viewDisclimer('privacy')">Privacy Policy</a> and
        <a href="" (click)="viewDisclimer('terms')">Terms of Service</a>
      </ion-label>
    </ion-item>

    <div padding-left margin-bottom margin-top>
      <button type="submit" ion-button full>{{buttonTitle}}</button>
    </div>
  </form>
</ion-content>