page-register {
    .title-md {
        left: -30px;
        position: relative;
    }
    .back-button.show-back-button {
        z-index: 1000;
    }
    .item-ios ion-avatar img, 
    .item-md ion-avatar ion-img, 
    .item-md ion-avatar img {
        height: 90px;
        width: 90px;
    }
    .item.item-md .checkbox-md {
        margin: 9px 20px 9px 4px;
    }
    .select-text {
        white-space: normal;
    }

    .text-input {
        text-align: right;
    }
    .ion-select-long {
        max-width: 100%;
    }
    .bigest-text {
        font-size: 25px;
    }

}
