page-find-user {
    .title-md {
        left: -24px;
        position: relative;
    }
    .back-button.show-back-button {
        z-index: 1000;
    }
    .list-ios > .item-block:first-child {
        border-top: none;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }    
    .list-ios > .item-block:last-child .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
    }    
}
