page-arrange-meeting {
    .title-md {
        left: -30px;
        position: relative;
    }
    .back-button.show-back-button {
        z-index: 1000;
    }
    .item-block {
        width: inherit;
    }
    .label-md .selection {
        margin-left: 6px;
        padding-right: 20px;
    }
    .label-ios .selection {
        margin-left: 12px;
        padding-right: 15px;
    }
    .text-input-md, .text-input-ios {
        margin-left: 0;
    }
    .select-ios, .select-md {
        width: 100%;
        padding: 11px 8px 8px 0;
    }
    ion-select {
        max-width: 100%;
    }
   .radio-button {
       transform: scale(1.2);
       margin-left: 8px;
       margin-top: 4px;
   }
   .radio-label {
       position:relative;
       top: -2px;
       margin-left: 8px;
   }
   item-md.item-block .item-inner {
       padding-right: 0;
    }
}
