<ion-header>
  <ion-navbar>
    <ion-title>Arrange Meeting</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item no-lines class="meeting">
    <div bp-layout="flex">
      <ion-avatar item-left bp-layout="fit">
        <img [src]="recipient.avatar || 'assets/icon/avatar.png'">
      </ion-avatar>
      <div margin-left bp-layout="fill">
        <div class="wrap-text bold-text">{{recipient.title}} {{recipient.firstName}} {{recipient.lastName}}</div>
        <div class="wrap-text">{{recipient.company}}&nbsp;</div>
        <div class="wrap-text">{{recipient.countryName}}&nbsp;</div>
      </div>
    </div>
  </ion-item>
  <form [formGroup]="form" (ngSubmit)="sendInvitation()" novalidate>
    <ion-item class="meeting" padding-right>
      <ion-label>Subject</ion-label>
      <ion-select formControlName="subject" (ionChange)="updateSubject($event)" [selectOptions]="subjectSelectOptions" class="selection">
        <ion-option *ngFor="let tech of technologies" [value]="tech.subject">{{tech.subject}}</ion-option>
      </ion-select>
    </ion-item>

    <div class="small-text" ion-text color="danger" padding-left *ngIf="!form.controls.subject.valid  && (form.controls.subject.dirty || submitAttempt)">Subject is required.</div>
    <ion-item *ngIf="form.controls.subject.value === 'Other'" class="meeting" padding-right>
      <ion-input formControlName="customSubject" type="text" placeholder="Type your subject"></ion-input>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="!form.controls.customSubject.valid && form.controls.customSubject.enabled && (form.controls.customSubject.dirty || submitAttempt)">Your subject is required.</div>
    <ion-item text-wrap no-lines>
      <div bp-layout="row center middle padding-left">
        <div bp-layout="fit">
          <ion-icon class="bigger" color="primary" name="information-circle"></ion-icon>
        </div>
        <div bp-layout="fill padding-left padding-right">
          <span class="meeting"> We have choosen best time slot available, tap to change schedule.</span>
        </div>
      </div>
    </ion-item>
    <ion-item class="meeting" padding-right>
      <ion-label>Date</ion-label>
      <ion-datetime formControlName="date" displayFormat="DDDD, DD MMM YYYY" [min]="minDate" [max]="maxDate"></ion-datetime>
    </ion-item>
    <ion-item class="meeting" padding-right>
      <ion-label>Start</ion-label>
      <ion-datetime formControlName="startTime" displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
    </ion-item>
    <ion-item class="meeting" padding-right>
      <ion-label>End</ion-label>
      <ion-datetime formControlName="endTime" displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
    </ion-item>

    <ion-item class="meeting" padding-right>
      <ion-label>Location</ion-label>
      <ion-select formControlName="location" [selectOptions]="locationSelectOptions">
        <ion-option *ngFor="let loc of locations" [value]="loc.id">{{loc.title}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="!form.controls.location.valid  && (form.controls.location.dirty || submitAttempt)">Location is required.</div>
    <ion-item class="meeting" padding-right>
      <ion-label>Remarks</ion-label>
      <ion-textarea elastic formControlName="remarks"></ion-textarea>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="!form.controls.remarks.valid  && (form.controls.remarks.dirty || submitAttempt)">Remarks is required.</div>
    <div margin>
      <button ion-button full type="submit">
      <ion-icon name="send"></ion-icon>&nbsp;&nbsp;Send Invitation
    </button>
    </div>
  </form>

</ion-content>