page-arrange-meeting {
    .title-md {
        left: -30px;
        position: relative;
    }
    .back-button.show-back-button {
        z-index: 1000;
    }
    .nowrap {
        white-space: nowrap;
    }
    ion-select {
        max-width: 75%;
    }
    .bigger {
        font-size: 25px;
    }
}
