<ion-header>
  <ion-navbar>
    <ion-title (click)="openProfile()">
      {{receiver.fullName}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding #myContent>

  <div class="message-wrapper disable-user-behavior" *ngFor="let msg of messages | async">
    <div *ngIf="msg.sender === sender.id">
      <img class="profile-pic right" [src]="sender.avatar">
      <div class="chat-bubble right">
        <div class="message" autolinker="">{{msg.message}}</div>
        <div class="message-detail">
          <span am-time-ago="message.date">{{getDateFormated(msg.timeStamp)}}</span>
        </div>
      </div>
    </div>

    <div *ngIf="msg.sender !== sender.id">
      <img class="profile-pic left" [src]="receiver.avatar">
      <div class="chat-bubble left">
        <div class="message" autolinker="">{{msg.message}}</div>
        <div class="message-detail">
          <span class="message-date">{{getDateFormated(msg.timeStamp)}}</span>
        </div>
      </div>
    </div>

    <div class="cf"></div>
  </div>


</ion-content>


<ion-footer no-border class="message-color bar-footer">
  <div bp-layout="flex gutter-none">
    <div bp-layout="fill" class="input-message">
      <ion-item class="meeting">
        <ion-textarea [(ngModel)]="messageToSend" elastic placeholder="Type a message..."></ion-textarea>
      </ion-item>
    </div>
    <div bp-layout="fix">
      <button ion-button icon-only clear (click)="sendMessage()">
        <ion-icon color="primary" name="send"></ion-icon>
      </button>
    </div>
  </div>
</ion-footer>