<ion-header>
  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-left padding-right padding-bottom class="meeting">
  <ion-item no-lines>
    <ion-avatar bp-layout="row center">
      <img [src]="profile.avatar || 'assets/icon/avatar.png'">
    </ion-avatar>
    <div bp-layout="row fill">
      <ion-item>
        <div class="center-align bold-text" *ngIf="!myProfile">{{profile.title}} {{profile.firstName}} {{profile.lastName}}</div>
        <div class="center-align bold-text" *ngIf="myProfile">{{profile.titleTitle}} {{profile.firstName}} {{profile.lastName}}</div>
        <div bp-layout="row center middle" *ngIf="myProfile">
          <button small ion-button text-only (click)="handleMenu('editProfile')">Edit Profile</button>
          <button small ion-button text-only (click)="handleMenu('changePassword')">Change Password</button>
        </div>
        <div bp-layout="row center middle" class="meeting" *ngIf="!myProfile" no-lines>
          <button small ion-button text-only (click)="handleMenu('arrangeMeeting')">Meeting</button>
        </div>
        <div class="center-align">{{profile.company}}</div>
        <div class="center-align">{{profile.industryTitle}}</div>
        <div class="center-align">{{profile.jobLevelTitle || profile.jobLevel}}</div>
        <div class="center-align">{{profile.jobRoleTitle || profile.jobRole}}</div>
        <div class="center-align">{{profile.countryTitle || profile.countryName}}</div>
        <div *ngIf="myProfile" class="center-align">{{profile.email}}</div>
        <div *ngIf="myProfile" class="center-align">{{profile.mobile}}</div>
      </ion-item>
    </div>
  </ion-item>
</ion-content>