page-notification {
    .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input {
        margin-left: 2px;
    }
    .smaller {
        font-size: 12px;
    }
    .list-ios > .item-block:first-child {
        border-top: none;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }    
    .list-ios > .item-block:last-child .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
    }
}
