page-send-comment {
    .title-md {
        left: -28px;
        position: relative;
    }
    .back-button.show-back-button {
        z-index: 1000;
    }
    .text-input-md {
        margin: 0;
    }
}
