page-change-password {
    .title-md {
        left: -23px;
        position: relative;
    }
    .back-button.show-back-button {
        z-index: 1000;
    }

    .item-md, .item-ios {
        padding-right: 16px;
    }
}
