<ion-header>
  <ion-navbar>
    <ion-title style="z-index: 100">Change Password</ion-title>
</ion-navbar>
</ion-header>

<ion-content padding-left padding-right padding-bottom class="meeting">
  <form [formGroup]="form" (ngSubmit)="changePassword()" margin-top novalidate>
    <ion-item lines>
      <ion-label>
        <ion-icon color="primary" name="lock"></ion-icon>
      </ion-label>
      <ion-input formControlName="currentPassword" required type="password" placeholder="Current password"></ion-input>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="!form.controls.currentPassword.valid  && (form.controls.currentPassword.dirty || submitAttempt)">Current password is required.</div>
    <ion-item lines>
      <ion-label>
        <ion-icon color="primary" name="lock"></ion-icon>
      </ion-label>
      <ion-input formControlName="newPassword" required validateEqual="confirmPassword" reverse="true" type="password" placeholder="New password"></ion-input>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="!form.controls.newPassword.valid  && (form.controls.newPassword.dirty || submitAttempt)">New password is required.</div>
    <ion-item lines>
      <ion-label>
        <ion-icon color="primary" name="lock"></ion-icon>
      </ion-label>
      <ion-input formControlName="confirmPassword" required validateEqual="newPassword" type="password" placeholder="Confirm new password"></ion-input>
    </ion-item>
    <div class="small-text" ion-text color="danger" padding-left *ngIf="!form.controls.confirmPassword.valid  && (form.controls.confirmPassword.dirty || submitAttempt)">Password mismatch.</div>
    <div padding-left padding-right margin-bottom margin-top>
      <button type="submit" ion-button full>Save</button>
    </div>
  </form>
</ion-content>