<ion-header>
    <ion-navbar no-border>
        <ion-title (click)="filterStatus()">
            {{section}}
            <ion-icon *ngIf="section === 'Sent'" name="arrow-dropdown"></ion-icon>
            <div *ngIf="section === 'Sent'" class="sub-title">{{statusFilter}}</div>
        </ion-title>
    </ion-navbar>
    <ion-segment [(ngModel)]="section" (ionChange)="segmentChange()">
        <ion-segment-button value="My Schedule">
            My Schedule
        </ion-segment-button>
        <ion-segment-button value="Invitations">
            Invitations
        </ion-segment-button>
        <ion-segment-button value="Sent">
            Sent
        </ion-segment-button>
    </ion-segment>
    <ion-toolbar no-border>
        <ion-searchbar [value]="filterInvitation" (ionInput)="filterInvitations($event)" *ngIf="section === 'Invitations'"></ion-searchbar>
        <ion-searchbar [value]="filterHosting" (ionInput)="filterHostings($event)" *ngIf="section === 'Sent'"></ion-searchbar>

        <div bp-layout="row gutter-none" *ngIf="section === 'My Schedule'">
            <div bp-layout="col" (click)="toggleDay(day1)">
                <div class="border-right">
                    <p class="primary-title" [class.day-selected]="daySelected === day1">DAY 1</p>
                    <p class="secondary-title" [class.day-selected]="daySelected === day1">{{getDateFormated(day1, 'ddd, DD MMM YYYY')}}</p>
                </div>
            </div>
            <div bp-layout="col" (click)="toggleDay(day2)">
                <div>
                    <p class="primary-title" [class.day-selected]="daySelected === day2">DAY 2</p>
                    <p class="secondary-title" [class.day-selected]="daySelected === day2">{{getDateFormated(day2, 'ddd, DD MMM YYYY')}}</p>
                </div>
            </div>
        </div>

    </ion-toolbar>
</ion-header>
<ion-content padding #pageContent [ngSwitch]="section">
    <ion-refresher (ionRefresh)="refreshData($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <ion-list *ngSwitchCase="'My Schedule'">
        <ion-item *ngFor="let meeting of schedules | meetingFilter:daySelected" (click)="viewMeetingDetails(meeting, 'my-schedule')" class="meeting">
            <div bp-layout="flex margin-bottom">
                <div bp-layout="fit margin-right--sm">{{meeting.timeDisplay}}</div>
                <div bp-layout="fill margin-left--sm">
                    <div *ngIf="!meeting.isBlockTime" class="bold-text wrap-text">{{meeting.subject}}</div>
                    <div *ngIf="meeting.isBlockTime" class="bold-text wrap-text">Blocked: {{meeting.subject}}</div>
                    <div *ngIf="!meeting.isBlockTime" bp-layout="margin-top--sm" class="wrap-text">Location: {{meeting.meetingLocation}}</div>
                </div>
            </div>
        </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Invitations'">
        <ion-item *ngFor="let meeting of invitations" (click)="viewMeetingDetails(meeting, 'invitation')" class="meeting">
            <div bp-layout="flex">
                <ion-avatar item-left bp-layout="fit margin-right--sm">
                    <img [src]="meeting.userAvatar || 'assets/icon/avatar.png'">
                </ion-avatar>
                <div bp-layout="fill margin-left--sm">
                    <div class="wrap-text bold-text">{{meeting.userDisplayName}}</div>
                    <div class="wrap-text">{{meeting.subject}}</div>
                    <div class="wrap-text">{{getDateFormated(meeting.date,'DD MMMM YYYY')}}, {{meeting.timeDisplay}}</div>
                </div>
            </div>
            <div bp-layout="row center margin-top--sm margin-bottom--sm">
                <ion-buttons>

                    <button ion-button clear icon-only class="text-on-bottom" (click)="declineMeeting(meeting)" margin>
                            <ion-icon color="danger" name="close-circle"></ion-icon>
                            <span class="meeting" ion-text color="danger">Decline</span>
                        </button>
                    <button ion-button clear icon-only class="text-on-bottom" (click)="acceptMeeting(meeting)" margin>
                            <ion-icon name="checkbox-outline" color="secondary"></ion-icon>
                            <span class="meeting" ion-text color="secondary">Accept</span>
                        </button>
                    <button ion-button clear icon-only class="text-on-bottom" (click)="rescheduleMeeting(meeting)" margin>
                            <ion-icon name="time" color="primary"></ion-icon>
                            <span class="meeting" ion-text color="primary">Reschedule</span>
                        </button>

                </ion-buttons>
            </div>
        </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Sent'">
        <ion-item *ngFor="let meeting of hostings | meetingStatusFilter:meetingStatus" (click)="viewMeetingDetails(meeting, 'hosted')" class="meeting">
            <div bp-layout="flex">
                <ion-avatar item-left bp-layout="fit margin-right--sm">
                    <img [src]="meeting.userAvatar || 'assets/icon/avatar.png'">
                </ion-avatar>
                <div bp-layout="fill margin-left--sm">
                    <div class="pull-right status {{meeting.meetingStatus}}">{{meeting.meetingStatus}}</div>
                    <div class="wrap-text bold-text">{{meeting.userDisplayName}}</div>
                    <div class="wrap-text">{{meeting.subject}}</div>
                    <div class="wrap-text">{{getDateFormated(meeting.date,'DD MMM YYYY')}}, {{meeting.timeDisplay}}</div>
                </div>
            </div>
            <div bp-layout="row center margin-top--sm margin-bottom--sm">
                <ion-buttons>
                    <button *ngIf="meeting.meetingStatus.toLowerCase() === 'pending'" ion-button clear icon-only class="text-on-bottom" (click)="rescheduleMeeting(meeting)"
                        margin>
                        <ion-icon name="time"></ion-icon>
                        <span class="meeting" ion-text color="primary">Reschedule</span>
                        </button>
                        <button *ngIf="meeting.meetingStatus.toLowerCase() === 'confirmed'" ion-button clear icon-only class="text-on-bottom" (click)="cancelMeeting(meeting)"
                            margin>
                            <ion-icon color="danger" name="remove-circle"></ion-icon>
                            <span class="meeting" ion-text color="danger">Cancel Meeting</span>
                            </button>
                </ion-buttons>
            </div>
        </ion-item>
    </ion-list>

    <ion-fab bottom right #fab>
        <button ion-fab mini><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab (click)="syncCalendarToPhone($event, fab)">                
                <ion-label>Sync to Phone</ion-label>
                <ion-icon color="primary" name="sync"></ion-icon>
            </button>
            <button ion-fab (click)="test1($event, fab)">                
                <ion-label>Meeting History</ion-label>
                <ion-icon color="primary" name="time"></ion-icon>
            </button>
            <button ion-fab (click)="test2($event, fab)">
                <ion-label>Block Time</ion-label>
                <ion-icon color="primary" name="remove-circle"></ion-icon>
            </button>
            <button ion-fab (click)="scanQrCode($event, fab)">
                <ion-label>Scan Badge</ion-label>
                <ion-icon color="primary" name="qr-scanner"></ion-icon>
            </button>
            <button ion-fab (click)="arrangeMeeting($event, fab)">
                <ion-label>Add Meeting</ion-label>
                <ion-icon color="primary"  name="contacts"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>