page-my-schedule {
    .primary-title, .secondary-title {
        color: $text-color;
        position: absolute;
        left: 65px;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    .primary-title {
        font-size: 16px;
        font-weight: bold;
        top: 10px;
    }
    .secondary-title {
        font-size: 14px;
        top: 30px;
        font-style: italic;
    }
    .toolbar-content .button-ios {
        height: 30px;
    }
    .label-md {
        margin: 13px 8px 0 0;
    }
    .button-large-md {
        height: 3.6rem;
    }
    .label-ios {
        margin: 11px 8px 0 0;
    }
    .pull-right {
        float: right;
    }
    .list-ios > .item-block:first-child {
        border-top: none;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }    
    .list-ios > .item-block:last-child .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
    }
    .sub-title {
        top: -2px;
        position: relative;
        font-size: 14px;
        font-weight: normal;
    }
    
}