page-my-schedule {
    .primary-title, .secondary-title {
        text-align: center;
        color: $text-color;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    .primary-title {
        font-size: 16px;
        font-weight: bold;
    }
    .secondary-title {
        font-size: 14px;
    }
    .border-right {
        border-right: solid 1px #c8c7cc;
    }

    .toolbar-content .button-ios {
        height: 30px;
    }
    .label-md {
        margin: 13px 8px 0 0;
    }
    .button-large-md {
        height: 3.6rem;
    }
    .label-ios {
        margin: 11px 8px 0 0;
    }
    .pull-right {
        float: right;
    }
    .list-ios > .item-block:first-child {
        border-top: none;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }    
    .list-ios > .item-block:last-child .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
    }
    .sub-title {
        top: -2px;
        position: relative;
        font-size: 14px;
        font-weight: normal;
    }
    
    button[ion-fab] {
        overflow: visible;
        position: relative;

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;

            color:white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }
}