<ion-header>
  <ion-navbar>
    <ion-title>Calendar</ion-title>
    <ion-buttons right>
      <button clear color="primary" ion-button icon-only (click)="synchToPhoneCalendar($event)">
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding-left padding-right>

  <ion-slides #calendarSlides (ionDidChange)="onSlideChanged($event)" [options]="slideOptions">
    <ion-slide>
      <div bp-layout="row center middle gutter-none padding-top--sm margin-top--sm">
        <div bp-layout="col">
          <div class="month">{{last2WeeksCal.monthYear}}</div>
        </div>
      </div>
      <div bp-layout="row center middle gutter-none">
        <div bp-layout="col">
          <div class="day">S</div>
        </div>
        <div bp-layout="col">
          <div class="day">M</div>
        </div>
        <div bp-layout="col">
          <div class="day">T</div>
        </div>
        <div bp-layout="col">
          <div class="day">W</div>
        </div>
        <div bp-layout="col">
          <div class="day">T</div>
        </div>
        <div bp-layout="col">
          <div class="day">F</div>
        </div>
        <div bp-layout="col">
          <div class="day">S</div>
        </div>
      </div>
      <div bp-layout="row center middle gutter-none padding-bottom--sm" class="border-bottom">
        <div bp-layout="col center middle" *ngFor="let day of last2WeeksCal.weekDays">
          <div class="date" (click)="selectDate(day)" [class.selected]="day.selected">{{day.display}}</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div bp-layout="row center middle gutter-none padding-top--sm margin-top--sm">
        <div bp-layout="col">
          <div class="month">{{lastWeekCal.monthYear}}</div>
        </div>
      </div>
      <div bp-layout="row center middle gutter-none">
        <div bp-layout="col">
          <div class="day">S</div>
        </div>
        <div bp-layout="col">
          <div class="day">M</div>
        </div>
        <div bp-layout="col">
          <div class="day">T</div>
        </div>
        <div bp-layout="col">
          <div class="day">W</div>
        </div>
        <div bp-layout="col">
          <div class="day">T</div>
        </div>
        <div bp-layout="col">
          <div class="day">F</div>
        </div>
        <div bp-layout="col">
          <div class="day">S</div>
        </div>
      </div>
      <div bp-layout="row center middle gutter-none padding-bottom--sm" class="border-bottom">
        <div bp-layout="col center middle" *ngFor="let day of lastWeekCal.weekDays">
          <div class="date" (click)="selectDate(day)" [class.selected]="day.selected">{{day.display}}</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div bp-layout="row center middle gutter-none padding-top--sm margin-top--sm">
        <div bp-layout="col">
          <div class="month">{{currentWeekCal.monthYear}}</div>
        </div>
      </div>
      <div bp-layout="row center middle gutter-none">
        <div bp-layout="col">
          <div class="day">S</div>
        </div>
        <div bp-layout="col">
          <div class="day">M</div>
        </div>
        <div bp-layout="col">
          <div class="day">T</div>
        </div>
        <div bp-layout="col">
          <div class="day">W</div>
        </div>
        <div bp-layout="col">
          <div class="day">T</div>
        </div>
        <div bp-layout="col">
          <div class="day">F</div>
        </div>
        <div bp-layout="col">
          <div class="day">S</div>
        </div>
      </div>
      <div bp-layout="row center middle gutter-none padding-bottom--sm" class="border-bottom">
        <div bp-layout="col center middle" *ngFor="let day of currentWeekCal.weekDays">
          <div class="date" (click)="selectDate(day)" [class.selected]="day.selected">{{day.display}}</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div bp-layout="row center middle gutter-none padding-top--sm margin-top--sm">
        <div bp-layout="col">
          <div class="month">{{nextWeekCal.monthYear}}</div>
        </div>
      </div>
      <div bp-layout="row center middle gutter-none">
        <div bp-layout="col">
          <div class="day">S</div>
        </div>
        <div bp-layout="col">
          <div class="day">M</div>
        </div>
        <div bp-layout="col">
          <div class="day">T</div>
        </div>
        <div bp-layout="col">
          <div class="day">W</div>
        </div>
        <div bp-layout="col">
          <div class="day">T</div>
        </div>
        <div bp-layout="col">
          <div class="day">F</div>
        </div>
        <div bp-layout="col">
          <div class="day">S</div>
        </div>
      </div>
      <div bp-layout="row center middle gutter-none padding-bottom--sm" class="border-bottom">
        <div bp-layout="col center middle" *ngFor="let day of nextWeekCal.weekDays">
          <div class="date" (click)="selectDate(day)" [class.selected]="day.selected">{{day.display}}</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div bp-layout="row center middle gutter-none padding-top--sm margin-top--sm">
        <div bp-layout="col">
          <div class="month">{{next2WeeksCal.monthYear}}</div>
        </div>
      </div>
      <div bp-layout="row center middle gutter-none">
        <div bp-layout="col">
          <div class="day">S</div>
        </div>
        <div bp-layout="col">
          <div class="day">M</div>
        </div>
        <div bp-layout="col">
          <div class="day">T</div>
        </div>
        <div bp-layout="col">
          <div class="day">W</div>
        </div>
        <div bp-layout="col">
          <div class="day">T</div>
        </div>
        <div bp-layout="col">
          <div class="day">F</div>
        </div>
        <div bp-layout="col">
          <div class="day">S</div>
        </div>
      </div>
      <div bp-layout="row center middle gutter-none padding-bottom--sm" class="border-bottom">
        <div bp-layout="col center middle" *ngFor="let day of next2WeeksCal.weekDays">
          <div class="date" (click)="selectDate(day)" [class.selected]="day.selected">{{day.display}}</div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <form [formGroup]="form" bp-layout="row flex" (ngSubmit)="blockTime()" padding-top padding-right padding-bottom class="meeting">
    <div bp-layout="fit padding-top--sm" padding-left>
      <ion-icon class="big-block-time" name="time"></ion-icon>
      <ion-icon color="danger" class="small-block-time" name="remove-circle"></ion-icon>
    </div>
    <div bp-layout="fill">
      <ion-item class="meeting">
        <ion-input formControlName="description" type="text" placeholder="Description"></ion-input>
      </ion-item>
      <div class="small-text" ion-text color="danger" padding-left *ngIf="!form.controls.description.valid  && (form.controls.description.dirty || submitAttempt)">Description is required.</div>
      <ion-item class="meeting">
        <ion-label>Start</ion-label>
        <ion-datetime formControlName="startTime" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="blocking.timeStarts"></ion-datetime>
      </ion-item>
      <div class="small-text" ion-text color="danger" padding-left *ngIf="!form.controls.startTime.valid  && (form.controls.startTime.dirty || submitAttempt)">Start time is required.</div>
      <ion-item class="meeting">
        <ion-label>End</ion-label>
        <ion-datetime formControlName="endTime" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="blocking.timeEnds"></ion-datetime>
      </ion-item>
      <div class="small-text" ion-text color="danger" padding-left *ngIf="!form.controls.endTime.valid  && (form.controls.endTime.dirty || submitAttempt)">End time is required.</div>
      <div margin-left margin-top>
        <button ion-button full type="submit">Block time</button>
      </div>
    </div>
  </form>
  <ion-item *ngFor="let meeting of schedules" class="meeting">
    <div bp-layout="flex">
      <div bp-layout="fit margin-right--sm">{{meeting.time}}</div>
      <div bp-layout="fill margin-left--sm">
        <div class="bold-text wrap-text">{{meeting.subject}}</div>
        <div *ngIf="meeting.type==='meeting'" bp-layout="margin-top--sm" class="wrap-text">Venue: {{meeting.location}}</div>
      </div>
    </div>
  </ion-item>



</ion-content>