page-reschedule-meeting {
    .title-md {
        left: -25px;
        position: relative;
    }
    .back-button.show-back-button {
        z-index: 1000;
    }
    .list-ios {
    margin: -1px 16px 10px 0;
    }
    .pull-right {
        margin-left: 35px;
    }
    .item-block {
        width: inherit;
    }

    .label-md .selection {
        margin-left: 6px;
        padding-right: 20px;
    }
    .label-ios .selection {
        margin-left: 12px;
        padding-right: 15px;
    }

    .select-md {
        width: 100%;
        padding-left: 8px;
    }
    .select-ios {
        width: 100%;
        padding: 11px 8px 8px 1px;
    }
    ion-select {
        max-width: 100%;
    }
    .text-input-ios {
        margin: 0;
    }
    .input-ios .text-input {
        padding-right: 10px;
        padding-left: 0px;
    }


}
