<ion-header>
  <ion-navbar>
    <ion-title>Meeting Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item no-lines class="meeting" (click)="viewProfile()">
    <div bp-layout="flex">
      <ion-avatar item-left bp-layout="fit">
        <img [src]="meeting.meetingWith.avatar">
      </ion-avatar>
      <div margin-left bp-layout="fill">
        <div class="wrap-text bold-text">{{meeting.meetingWith.title}} {{meeting.meetingWith.fullName}}</div>
        <div class="wrap-text">{{meeting.meetingWith.company}}&nbsp;</div>
        <div class="wrap-text">{{meeting.meetingWith.country}}&nbsp;</div>
      </div>
    </div>
  </ion-item>
  <div class="meeting" padding-left padding-right>
    <div margin-top margin-bottom class="bold-text">{{meeting.subject}}</div>
    <div>{{getDateFormated(meeting.date, 'dddd, DD MMMM YYYY')}}</div>
    <div>{{meeting.time}}</div>
    <div margin-top margin-bottom>{{meeting.location}}</div>
    <div *ngIf="type === 'tracker'" margin-top class="bold-text">Follow Up Plan</div>
    <div *ngIf="type === 'tracker'" class="wrap-text">{{meeting.followUp}}</div>
    <div class="status {{meeting.status}}">{{meeting.status}}</div>
    <div margin-top class="bold-text">Remarks</div>
    <div class="wrap-text">{{meeting.remarks}}</div>
  </div>
  <div bp-layout="row center" margin-top>
    <ion-buttons *ngIf="type === 'my-schedule'">
      <button ion-button clear icon-only (click)="cancelMeeting()" margin>
        <ion-icon color="danger" name="remove-circle"></ion-icon>
        <span class="meeting" ion-text color="danger">Cancel Meeting</span>
      </button>
    </ion-buttons>

    <ion-buttons *ngIf="type === 'invitation'">
      <button ion-button clear icon-only class="text-on-bottom" (click)="declineMeeting()" margin>
        <ion-icon color="danger" name="close-circle"></ion-icon>
        <span class="meeting" ion-text color="danger">Decline</span>
      </button>
      <button ion-button clear icon-only class="text-on-bottom" (click)="acceptMeeting()" margin>
        <ion-icon name="checkbox-outline" color="secondary"></ion-icon>
        <span class="meeting" ion-text color="secondary">Accept</span>
      </button>
      <button ion-button clear icon-only class="text-on-bottom" (click)="rescheduleMeeting()" margin>
        <ion-icon name="time" color="primary"></ion-icon>
        <span class="meeting" ion-text color="primary">Reschedule</span>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="type === 'hosted'" padding-right>
      <button *ngIf="meeting.status.toLowerCase() === 'pending'" ion-button clear icon-only class="text-on-bottom" (click)="rescheduleMeeting()" margin>
        <ion-icon name="time"></ion-icon>
        <span class="meeting" ion-text color="primary">Reschedule</span>
      </button>
      <button *ngIf="meeting.status.toLowerCase() === 'confirmed'" ion-button clear icon-only class="text-on-bottom" (click)="cancelMeeting()" margin>
        <ion-icon color="danger" name="remove-circle"></ion-icon>
        <span class="meeting" ion-text color="danger">Cancel Meeting</span>
      </button>
    </ion-buttons>
  </div>
  <div padding>
    <button *ngIf="type === 'tracker'" (click)="postMeetingSurvey(meeting.id)" ion-button full>Post Meeting Survey</button>
  </div>
</ion-content>