page-meeting-details {
    .title-md {
        left: -30px;
        position: relative;
    }
    .back-button.show-back-button {
        z-index: 1000;
    }
    [icon-only] ion-icon {
        padding: 0 .2em;
    }
    [bp-layout^='col'] {
        padding: 0 8px 0px 8px;
    }
    .input-ios .text-input {
        padding-right: 8px;
    }
    .item-ios {
        padding-left: 0;
    }
}
