page-menu {
    .toolbar-background {
    background-color: white;
    }

    .item-md ion-icon[item-left], .item-md ion-icon[item-right],
    .item-ios ion-icon[item-left], .item-ios ion-icon[item-right] {
        width: 24px;
    }
    .list-ios > .item-block:first-child {
        border-top: none;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }    
    .list-ios > .item-block:last-child .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
    }
    ion-navbar.toolbar {
        height: 170px;
    }
}
